flake8
flake8-docstrings
pytest
pytest-cov
pytest-homeassistant-custom-component
pytest-asyncio
pytest-freezer
pytest-tornasync
pytest-trio
pre-commit
homeassistant
aiohttp
ruff
voluptuous
pre-commit
sympy
yt-dlp
